# ignore all
*

# include only:
!.colors
!.config/bspwm
!.config/compton
!.config/dunst
!.config/neofetch
!.config/polybar
!.config/rofi
!.config/sxhkd
!.scripts
!.wallpaper
!.gitignore
!.profile
!.xinitrc
!.Xresources
!.xserverrc
!xorg.config