! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.dpi: 163.18
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! ------------------------------------------------------------------------------
! URxvt
! ------------------------------------------------------------------------------

URxvt.font: xft:Source Code Pro:size=12

! font spacing
URxvt.lineSpace:		1

! general settings
URxvt*saveline:			15000
URxvt*termName:			rxvt-256color
URxvt*urgentOnBell:		true

! appearance
URxvt*depth:			24
URxvt*scrollBar:		false
URxvt*scrollBar_right:	false
URxvt*internalBorder:	24
URxvt*externalBorder:	0
URxvt.geometry:			84x22

URxvt.iso14755:         false
URxvt.iso14755_52:      false

URxvt.copyCommand:	    xclip -i -selection clipboard
URxvt.pasteCommand:		xclip -o -selection clipboard

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.urlLauncher:		    chromium
URxvt.underlineURLs:        true
URxvt.urlButton:		    1     
